{
    "env": {
      "browser": true,  // Вказує, що проект використовується в браузері
      "es2021": true    // Підтримка синтаксису ES2021
    },
    "extends": [
      "eslint:recommended",              // Базові правила ESLint
      "plugin:react/recommended",        // Правила для React
      "plugin:@typescript-eslint/recommended",  // Правила для TypeScript
      "plugin:react-hooks/recommended",  // Правила для хуків React
      "plugin:prettier/recommended"      // Інтеграція з Prettier для форматування
    ],
    "parser": "@typescript-eslint/parser",  // Використовує парсер TypeScript
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true  // Дозволяє JSX
      },
      "ecmaVersion": "latest",  // Підтримка сучасних ECMAScript можливостей
      "sourceType": "module"    // Використання модулів ECMAScript
    },
    "plugins": [
      "react",  // Плагін для React
      "@typescript-eslint",  // Плагін для TypeScript
      "prettier"  // Плагін для Prettier
    ],
    "rules": {
      "react/react-in-jsx-scope": "off",  // Вимкнення правила, що вимагає імпорт React у файлах з JSX
      "@typescript-eslint/explicit-module-boundary-types": "off",  // Не вимагати явних типів для функцій
      "@typescript-eslint/no-unused-vars": "warn",  // Попередження для невикористаних змінних
      "prettier/prettier": "error",  // Інтеграція з Prettier для забезпечення коректного форматування
      "react/prop-types": "off"  // Вимкнення перевірки типів пропсів для TypeScript
    },
    "settings": {
      "react": {
        "version": "detect"  // Автоматичне визначення версії React
      }
    }
  }
  